<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<!-- 
		WebView의 가상도메인 이름으로 아래와 같이 사용됩니다.
		예) hello -> hello.localapp
		(** TLD, localapp은 시스템 고정입니다.)
		-->
		<!-- 
		WebView VirtualHostName using like.
		Ex) hello -> hello.localapp
		(** TLD, localapp is system fixed.)
		-->
		<!-- TLD : Top-Level Domain -->
		<add key="WebView2VirtualHostName" value="ofeduix" />
		<add key="OFEDAppPath" value="..\..\..\..\..\OneFileEncryptDecrypt\OneFileEncryptDecrypt\bin\Debug\net10.0\OneFileEncryptDecrypt.exe" />
	</appSettings>
</configuration>