:root {
    --ofed-mainbgcolor : #ffffff;
    --ofed-defaultfontcolor : #000000;
    --ofed-bordercolor : #999999;
    --ofed-maintitlebgcolor : #eeeeee;
    --ofed-listemptyfontcolor : #999999;
    --ofed-listhoverbgcolor : #eeeeee;
    --ofed-listdirpathcolor : #999999;
    --ofed-listdeletebgcolor : #ffa7a7;
    --ofed-listdeletebordercolor : #ff7e7e;
    --ofed-encryptbgcolor : #ffb867;
    --ofed-encryptbordercolor : #fdb03c;
    --ofed-decryptbgcolor : #8ebefd;
    --ofed-decryptbordercolor : #5ea8fd;
    --ofed-pageblindbgcolor : #999999;
    --ofed-defaultfontfamily : "Noto Sans KR";
    --ofed-listrefreshbgcolor : #67ff86;
    --ofed-listrefreshbordercolor : #62cf78;    

    --ofed-sd-mainbgcolor : #ffffff;
    --ofed-sd-mainshadowcolor : #7b7b7b;
    --ofed-sd-headfootbgcolor : #eeeeee;
    --ofed-sd-bordercolor : #999999;
    --ofed-sd-button-success-bgcolor : #c7ff9a;
    --ofed-sd-button-success-bordercolor : #7fa361;
    --ofed-sd-button-confirm-bgcolor : #7b7dff;
    --ofed-sd-button-confirm-bordercolor : #5554a7;
    --ofed-sd-button-cancel-bgcolor : #eeeeee;
    --ofed-sd-button-cancel-bordercolor : #999999;

    --ofed-error-bordercolor : #ff0000;
    --ofed-warning-color : #ff9b00;
}

html, 
body, 
* { padding:0px; margin:0px; box-sizing:border-box; }

html, 
body,
input, 
textarea, 
select,
button { color:var(--ofed-defaultfontcolor); font-size:16px; font-family:var(--ofed-defaultfontfamily); font-optical-sizing: auto; font-style: normal; line-height: 1.5; }

input::-ms-reveal,
input::-ms-clear { display: none; }

body { scroll-behavior:smooth; background-color:var(--ofed-mainbgcolor); overflow:hidden; }

a { color:var(--ofed-defaultfontcolor); text-decoration:none; }

#mainframe { width:100%; }
#mainframe .encryptbutton { background-color:var(--ofed-encryptbgcolor); border:1px solid var(--ofed-encryptbordercolor); }
#mainframe .decryptbutton { background-color:var(--ofed-decryptbgcolor); border:1px solid var(--ofed-decryptbordercolor); }
#mainframe .maintitle { width:100%; height:100px; text-align:center; font-size:2rem; font-weight:bold; background-color:var(--ofed-maintitlebgcolor); border-bottom:1px solid var(--ofed-bordercolor); display:flex; align-items:center; justify-content:center; }

#mainframe .newcryptobox { width:100%; height:120px; padding:10px; text-align:center; border-bottom:1px solid var(--ofed-bordercolor); display: flex; flex-direction: row; justify-content: center; align-items: center; gap:10px; }
#mainframe .newcryptobox .cryptobox { width:50%; }
#mainframe .newcryptobox .cryptobox .mainaction button { width:100%; padding:10px; font-weight:bold; border-radius:5px; cursor:pointer; }

#mainframe .refresharea { width:100%; height:50px; padding:0px 10px; display:flex; justify-content:flex-end; align-items:center; }
#mainframe .refresharea button.listrefresh { padding:5px; font-size:0.7rem; border-radius:5px; cursor:pointer; background-color:var(--ofed-listrefreshbgcolor); border:1px solid var(--ofed-listrefreshbordercolor); } 

#mainframe .latestlistarea { width:100%; height:calc(100vh - 270px); overflow-x:hidden; overflow-y:auto; }
#mainframe .latestlistarea ul { list-style:none; }
#mainframe .latestlistarea ul li.emptyitembox { padding:20px 0px; color:var(--ofed-listemptyfontcolor); text-align:center; font-style:italic; }
#mainframe .latestlistarea ul li.itemx { padding:10px; border-top:1px solid transparent; border-bottom:1px solid transparent; display: flex; align-items: center; flex-direction: row; justify-content: space-between; gap:10px; }
#mainframe .latestlistarea ul li.itemx:hover { background-color:var(--ofed-listhoverbgcolor); border-top:1px solid var(--ofed-bordercolor); border-bottom:1px solid var(--ofed-bordercolor); }
#mainframe .latestlistarea ul li.itemx button { padding:5px; border-radius:5px; cursor:pointer; }
#mainframe .latestlistarea ul li.itemx .filenamebox { width:calc(100% - 270px); overflow-y:hidden; overflow-x:auto; }
#mainframe .latestlistarea ul li.itemx .filenamebox .filename { padding:5px 0px; }
#mainframe .latestlistarea ul li.itemx .filenamebox .dirpath a { color:var(--ofed-listdirpathcolor); font-size:0.7rem; }
#mainframe .latestlistarea ul li.itemx .cryptobox { width:150px; }
#mainframe .latestlistarea ul li.itemx .cryptobox button { width:100%; }
#mainframe .latestlistarea ul li.itemx .deletebox { width:100px; text-align:right; }
#mainframe .latestlistarea ul li.itemx .deletebox button { font-size:0.7rem; background-color:var(--ofed-listdeletebgcolor); border:1px solid var(--ofed-listdeletebordercolor); }

.pageblind { position:fixed; left:0px; top:0px; width:100%; height:100vh; background-color:var(--ofed-pageblindbgcolor); opacity:0.5; z-index:100; display:none; }
.pageblind.shownow { display:block; }
.pageblind.sdoverpageblind { z-index: 200; }

.simpledialog { position:fixed; left:50%; top:50%; min-width:30%; transform: translate(-50%, -50%); background-color:var(--ofed-sd-mainbgcolor); border:1px solid var(--ofed-sd-bordercolor); border-radius: 5px; box-shadow:0px 0px 5px 2px var(--ofed-sd-mainshadowcolor); z-index:150; display:none; }
.simpledialog.shownow { display:block; }
.simpledialog .titlebox { padding:10px; text-align:center; font-size:1.1rem; font-weight:bold; background-color:var(--ofed-sd-headfootbgcolor); border-bottom:1px solid var(--ofed-sd-bordercolor); border-top-left-radius: 5px; border-top-right-radius: 5px; }
.simpledialog .contentbox { padding:20px 10px; }
.simpledialog .contentbox .messagebox { text-align:center; }
.simpledialog .contentbox .inputbox { margin-top:10px; }
.simpledialog .contentbox .inputbox .contentx { width:80%; margin:auto; }
.simpledialog .contentbox .inputbox .contentx .titlex { width:100%; text-align:center; }
.simpledialog .contentbox .inputbox .contentx .inputx input { width:100%; padding:5px; margin:10px 0px; text-align:center; background-color:var(--ofed-sd-mainbgcolor); border:1px solid var(--ofed-sd-bordercolor); border-radius:5px; }
.simpledialog .contentbox .inputbox .contentx .inputx input.invalidsign { border:1px solid var(--ofed-error-bordercolor); }
.simpledialog .contentbox .inputbox .contentx .subaction { width:100%; text-align:left; }
.simpledialog .contentbox .inputbox .contentx .notifymessage { width:100%; color:var(--ofed-warning-color); text-align:center; margin-top:10px; }
.simpledialog .actionbox { padding:10px; text-align:center; background-color:var(--ofed-sd-headfootbgcolor); border-top:1px solid var(--ofed-sd-bordercolor); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.simpledialog .actionbox button { width:150px; padding:5px;  border-radius:5px; cursor:pointer; }
.simpledialog .actionbox button.defaultcolor { background-color:var(--ofed-sd-mainbgcolor); border:1px solid var(--ofed-sd-bordercolor); }
.simpledialog .actionbox button.successcolor { background-color:var(--ofed-sd-button-success-bgcolor); border:1px solid var(--ofed-sd-button-success-bordercolor); }
.simpledialog .actionbox button.confirmcolor { background-color:var(--ofed-sd-button-success-bgcolor); border:1px solid var(--ofed-sd-button-success-bordercolor); }
.simpledialog .actionbox button.cancelcolor { background-color:var(--ofed-sd-button-cancel-bgcolor); border:1px solid var(--ofed-sd-button-cancel-bordercolor); }
.simpledialog .actionbox .okbutton { font-weight:bold; }
.simpledialog.passworddialog { width:50%; }
.simpledialog.sdoversimpledialog { z-index: 250; }

