:root {
    --ofed-mainbgcolor : #ffffff;
    --ofed-defaultfontcolor : #000000;
    --ofed-bordercolor : #999999;
    --ofed-maintitlebgcolor : #eeeeee;
    --ofed-listemptyfontcolor : #999999;
    --ofed-listhoverbgcolor : #eeeeee;
    --ofed-listdirpathcolor : #999999;
    --ofed-listdeletebgcolor : #ffa7a7;
    --ofed-listdeletebordercolor : #ff7e7e;
    --ofed-encryptbgcolor : #ffb867;
    --ofed-encryptbordercolor : #fdb03c;
    --ofed-decryptbgcolor : #8ebefd;
    --ofed-decryptbordercolor : #5ea8fd;
    --ofed-pageblindbgcolor : #999999;
    --ofed-defaultfontfamily : "Noto Sans KR";
}

html, 
body, 
* { padding:0px; margin:0px; box-sizing:border-box; }

html, 
body,
input, 
textarea, 
select,
button { color:var(--ofed-defaultfontcolor); font-size:16px; font-family:var(--ofed-defaultfontfamily); font-optical-sizing: auto; font-style: normal; line-height: 1.5; }

body { scroll-behavior:smooth; background-color:var(--ofed-mainbgcolor); overflow:hidden; }

a { color:var(--ofed-defaultfontcolor); text-decoration:none; }

#mainframe { width:100%; }
#mainframe .encryptbutton { background-color:var(--ofed-encryptbgcolor); border:1px solid var(--ofed-encryptbordercolor); }
#mainframe .decryptbutton { background-color:var(--ofed-decryptbgcolor); border:1px solid var(--ofed-decryptbordercolor); }
#mainframe .maintitle { width:100%; height:100px; text-align:center; font-size:2rem; font-weight:bold; background-color:var(--ofed-maintitlebgcolor); border-bottom:1px solid var(--ofed-bordercolor); display:flex; align-items:center; justify-content:center; }

#mainframe .newcryptobox { width:100%; height:120px; padding:10px; text-align:center; border-bottom:1px solid var(--ofed-bordercolor); display: flex; flex-direction: row; justify-content: center; align-items: center; gap:10px; }
#mainframe .newcryptobox .cryptobox { width:50%; }
#mainframe .newcryptobox .cryptobox .mainaction button { width:100%; padding:10px; font-weight:bold; border-radius:5px; cursor:pointer; }
/*
#mainframe .newcryptobox .encryptbox {  }
#mainframe .newcryptobox .decryptbox {  }
*/

#mainframe .latestlistarea { width:100%; height:calc(100vh - 220px); overflow-x:hidden; overflow-y:auto; }
#mainframe .latestlistarea ul { list-style:none; }
#mainframe .latestlistarea ul li.emptyitembox { padding:20px 0px; color:var(--ofed-listemptyfontcolor); text-align:center; font-style:italic; }
#mainframe .latestlistarea ul li.itemx { padding:10px; border-top:1px solid transparent; border-bottom:1px solid transparent; display: flex; align-items: center; flex-direction: row; justify-content: space-between; gap:10px; }
#mainframe .latestlistarea ul li.itemx:hover { background-color:var(--ofed-listhoverbgcolor); border-top:1px solid var(--ofed-bordercolor); border-bottom:1px solid var(--ofed-bordercolor); }
#mainframe .latestlistarea ul li.itemx:first-child:hover { border-top:1px solid transparent; }
#mainframe .latestlistarea ul li.itemx button { padding:5px; border-radius:5px; cursor:pointer; }
#mainframe .latestlistarea ul li.itemx .filenamebox { width:calc(100% - 270px); overflow-y:hidden; overflow-x:auto; }
#mainframe .latestlistarea ul li.itemx .filenamebox .filename { padding:5px 0px; }
#mainframe .latestlistarea ul li.itemx .filenamebox .dirpath { color:var(--ofed-listdirpathcolor); font-size:0.7rem; }
#mainframe .latestlistarea ul li.itemx .cryptobox { width:150px; }
#mainframe .latestlistarea ul li.itemx .cryptobox button { width:100%; }
#mainframe .latestlistarea ul li.itemx .deletebox { width:100px; text-align:right; }
#mainframe .latestlistarea ul li.itemx .deletebox button { font-size:0.7rem; background-color:var(--ofed-listdeletebgcolor); border:1px solid var(--ofed-listdeletebordercolor); }

#pageblind { position:fixed; left:0px; top:0px; width:100%; height:100vh; background-color:var(--ofed-pageblindbgcolor); opacity:0.5; cursor:wait; display:none; }
#pageblind.shownow { display:block; }


