:root {
    --ofed-mainbgcolor : #ffffff;
    --ofed-defaultfontcolor : #000000;
    --ofed-bordercolor : #999999;
    --ofed-maintitlebgcolor : #eeeeee;
    --ofed-listemptyfontcolor : #999999;
    --ofed-listhoverbgcolor : #eeeeee;
    --ofed-listdirpathcolor : #999999;
    --ofed-listdeletebgcolor : #ffa7a7;
    --ofed-listdeletebordercolor : #ff7e7e;
    --ofed-encryptbgcolor : #ffb867;
    --ofed-encryptbordercolor : #fdb03c;
    --ofed-decryptbgcolor : #8ebefd;
    --ofed-decryptbordercolor : #5ea8fd;
    --ofed-pageblindbgcolor : #999999;
    --ofed-defaultfontfamily : 'Arial';
}

